doctype html
html
    head 
        meta(charset='utf-8')
        link(rel='stylesheet' href='/css/login.css')
        title login
    body
        main
    script(type='text/javascript' src='/js/login.js')
